/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #68c5f6;
  --ifm-color-primary-dark: #47b8f4;
  --ifm-color-primary-darker: #36b2f3;
  --ifm-color-primary-darkest: #0e9ce7;
  --ifm-color-primary-light: #89d2f8;
  --ifm-color-primary-lighter: #9ad8f9;
  --ifm-color-primary-lightest: #cbebfc;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  .markdown {
    --ifm-h1-vertical-rhythm-top: 6;
    --ifm-h2-vertical-rhythm-top: 4;
    --ifm-h3-vertical-rhythm-top: 3;
    --ifm-heading-vertical-rhythm-top: 2;

    img {
      border: 1px solid #525252;
    }
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #98d7f9;
  --ifm-color-primary-dark: #72c8f7;
  --ifm-color-primary-darker: #5fc1f6;
  --ifm-color-primary-darkest: #26abf2;
  --ifm-color-primary-light: #bee6fb;
  --ifm-color-primary-lighter: #d1edfc;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #1b1b1b;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
